<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <div>
          <img src="https://cdn-icons-png.flaticon.com/512/4388/4388332.png" alt="Головне зображення" class="img-fluid">
          <h2>Заголовок</h2>
          <p>Місцезнаходження</p>
          <p>Дата розміщення: {{ currentDate }}</p>
          <p>Опис тут...</p>
          <div class="row">
            <div class="col-md-3">
              <img src="https://cdn-icons-png.flaticon.com/512/558/558857.png" alt="Зображення 1" class="img-fluid">
            </div>
            <div class="col-md-3">
              <img src="https://cdn-icons-png.flaticon.com/512/6520/6520460.png" alt="Зображення 2" class="img-fluid">
            </div>
          </div>
          <p>Перегляди: 100</p>
        </div>
      </div>
  
      <div class="col-md-4">
        <div>
          <h3>Ціна: $100</h3>
          <button class="btn btn-primary">Надіслати повідомлення</button>
          <button class="btn btn-success">Зателефонувати продавцю</button>
          <img src="https://i.pinimg.com/564x/b0/4f/af/b04fafe52c8fe90178e81590adb7f007.jpg" alt="Фото профілю" class="img-fluid">
          <p>Продавець: John Doe</p>
          <p>Зареєстровано: {{ userRegistrationDate }}</p>
          <button class="btn btn-info">Переглянути інші оголошення продавця</button>
        </div>
      </div>
    </div>
  </div>
  